<<<<<<< HEAD
.header md-toolbar md-icon.md-default-theme {
  color: white; 
  }

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 75px;
}




=======
.side-menu-logo{
  width: 240px;
  height: 225px;
  display: block;
  margin: 0 auto;
  padding-top: 55px;
}

.main-toolbar{
  position:fixed !important;
}
>>>>>>> barbaJason
