.side-menu-logo{
  width: 240px;
  height: 225px;
  display: block;
  margin: 0 auto;
  padding-top: 55px;
}

.main-toolbar{
  position:fixed !important;
}

.footer-powered-by{
  font-size: 16px; font-weight: bold; opacity: 0.4;
  display: block;
  margin: 0 auto;
}
.footer-project-name{
  font-size: 16px;
}

/*.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 75px;
}*/
.main-header {
  position: relative;
  z-index: 2;
}
.main-sidenav {
  position: relative;
  z-index: 1;
}
.md-sidemenu-wrapper {
  height: 0;
}
.md-sidemenu-wrapper.md-active {
  height: auto;
}

/*=========================   Estilos para el Header, footer y Content =================================================*/
/**{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:after,
*:before{
  box-sizing: border-box;
}*/

.wrapper{
  display: flex;
  flex-direction: column;            
  height: 100vh;
  overflow: hidden;
}
.header{
  flex: 0 0 auto;  
}
.content{
  flex: 1 1 auto;
  overflow-y: auto;
}
.footer{
  flex: 0 0 auto;  
}
