<div>
    <br/>
    <center>
        <h3>Lista Empleados</h3>
    </center>
</div>

<br/>

<md-button type="button" ng-click="vm.cargarEmpleados()">Listar Empleados</md-button>

<md-card>
    <md-toolbar md-colors="{background: '{{vm.colorTema}}'}" class="md-table-toolbar">
        <div class="md-toolbar-tools">
            <span>Listado Empleados</span>
        </div>
    </md-toolbar>
    <md-card-content>

        <md-table-container>
            <table md-table md-row-select multiple ng-model="selected">
                <thead md-head>
                    <tr md-row>
                        <th md-column md-numeric>Id</th>
                        <th md-column md-numeric>Nombre</th>
                        <th md-column md-numeric>Apellido</th>
                        <th md-column md-numeric>Email</th>
                        <th md-column md-numeric>Telefono</th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row md-select="p" ng-repeat="p in vm.listadoEmpleados" ng-click="vm.editarEmpleado(p)">
                        <td md-cell>{{p.id}}</td>
                        <td md-cell>{{p.firstName}}</td>
                        <td md-cell>{{p.lastName}}</td>
                        <td md-cell>{{p.email}}</td>
                        <td md-cell>{{p.phone}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>

    </md-card-content>
    <md-card-footer>
      
    </md-card-footer>
</md-card>