<div layout="row">
    <div layout="vertical" style="height: 100vh;">

        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4" flex>
            <md-toolbar class="md-tall md-accent" md-colors="{background: 'indigo-800'}">
                <span>sidenav</span>
            </md-toolbar>
            <md-content layout="column" flex>
                <span>Your sidenav</span>
            </md-content>
        </md-sidenav>

    </div>

    <div flex>
        <div layout="column" flex>

            <div>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <md-button class="md-icon-button" aria-label="Side Panel" ng-click="vm.openSideNavPanel()" hide-gt-md>
                            <md-tooltip>Open Side Panel</md-tooltip>
                            <md-icon class="material-icons">menu</md-icon>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Icon">
                            <md-tooltip>User</md-tooltip>
                            <md-icon class="material-icons">home</md-icon>
                        </md-button>
                        <h2>
                            <span>Heading</span>
                        </h2>

                        <span flex></span>
                        <md-button class="md-icon-button" aria-label="User">
                            <md-tooltip>User</md-tooltip>
                            <md-icon class="material-icons">account_circle</md-icon>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Messages">
                            <md-tooltip>Messages</md-tooltip>
                            <md-icon class="material-icons">message</md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
            </div>

            <div>
                <md-nav-bar>

                    <md-nav-item ng-repeat="element in vm.navbarElements" md-nav-href="{{element.href}}">
                        {{element.name}}
                    </md-nav-item>

                </md-nav-bar>

            </div>

            <div class="container-fluid" layout-padding>
                <div ui-view="" autoscroll="false"></div>
            </div>

        </div>

        <footer class="footer" md-colors="{background: 'indigo'}">

            <span style="font-size: 16px; font-weight: bold; opacity: 0.4;">{{vm.poweredBy}}</span>
            <br class="hidden-xs" /><br class="hidden-xs" />
            <span style="font-size: 11px; color: #787878!important;"></span>



        </footer>

    </div>
</div>
