<div layout="row">
    <div layout="vertical" style="height: 100vh;">
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4" flex>
            <md-content md-scroll-y flex layout="column">
                <md-sidemenu locked="true">
                    <md-sidemenu-group>
                        <md-toolbar md-colors="{background: '{{vm.colorTema}}'}" layout="row" class="md-tall">
                            <div class="md-toolbar-tools">
                                <div class="parent" layout="column" flex>
                                    <img src="app/img/logo.png" class="side-menu-logo">
                                </div>
                                <span flex></span>
                                <md-button class="md-icon-button" aria-label="Cerrar Menú" ng-click="vm.closeSideNavPanel()" hide-gt-md>
                                    <md-tooltip>Cerrar Menú</md-tooltip>
                                    <md-icon class="material-icons">clear</md-icon>
                                </md-button>
                            </div>
                        </md-toolbar> 
                        
                        <md-sidemenu-content ng-repeat="element in vm.navbarElements" md-icon="{{element.icon}}" md-heading="{{element.name}}" md-arrow="{{element.submenuItems}}" ng-click="vm.clickElement(element)">
                            <md-sidemenu-button ng-if="element.submenuItems" ng-repeat="subelement in element.submenuItems" ui-sref="{{subelement.state}}" ng-click="vm.clickElement(element)">{{subelement.name}}</md-sidemenu-button>
                        </md-sidemenu-content>
                    </md-sidemenu-group>
                </md-sidemenu>
            </md-content>
        </md-sidenav>
    </div>

    <div flex>
        <div layout="column" flex>
            <div>
                <md-toolbar md-colors="{background: '{{vm.colorTema}}-800'}">
                    <div class="md-toolbar-tools">
                        <md-button class="md-icon-button" aria-label="Side Panel" ng-click="vm.openSideNavPanel()" hide-gt-md>
                            <md-tooltip>Abrir el Panel Lateral</md-tooltip>
                            <md-icon class="material-icons">menu</md-icon>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Icon">
                            <md-tooltip>Inicio</md-tooltip>
                            <md-icon class="material-icons" ng-click="vm.goToHome()">home</md-icon>
                        </md-button>
                        <h2>
                            <span>{{vm.getNavigationRoute()}}</span>
                        </h2>

                        <span flex></span>
                        <md-button class="md-icon-button" aria-label="User">
                            <md-tooltip>Usuario</md-tooltip>
                            <md-icon class="material-icons">account_circle</md-icon>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Messages">
                            <md-tooltip>Mensajes</md-tooltip>
                            <md-icon class="material-icons">message</md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
            </div>

            <div>
                <md-nav-bar>
                    <md-nav-item ng-repeat="element in vm.navbarElements" md-nav-href="{{element.href}}">
                        {{element.name}}
                    </md-nav-item>
                </md-nav-bar>
            </div>

            <div class="container-fluid" layout-padding>
                <div ui-view="" autoscroll="false"></div>
            </div>

            <footer class="footer"  md-colors="{background: '{{vm.colorTema}}-800'}">
                <br/>
                <center>
                    <span class="footer-project-name">{{vm.projectName}}</span>
                    <span class="footer-powered-by">{{vm.poweredBy}}</span>
                </center>
                <br/>
            </footer>
        </div>
    </div>
</div>
